<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <td>NAME</td>
        <td>MODEL</td>
        <td>HORSE POWER</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="car : ${carsList}">
        <tr>
            <td th:text="${car.getName()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getHorsePower()}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>