<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>Список пользователей</h1>

<table border="2">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
    </tr>

    <block th:each="user : ${usersList}">
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname()}"></td>
            <td th:text="${user.getEmail()}"></td>

            <td>
                <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                    <input type="submit" value="Удалить">
                </form>
            </td>

            <td>
                <form th:action="@{/users/{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Изменить">
                </form>
            </td>

        </tr>
    </block>
</table>
<a href="/users/new"><input type="submit" value="Добавить нового пользователя"></a>
</body>
</html>